<!-- Header & Navigation -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="../index.html">
      Canvas & Color Art Academy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="background-color: #fff;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../frontend/pages/login.html">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>